@define-color bg0 rgba(26, 27, 38, 0.8);
@define-color bg1 #1a1b26;
@define-color bg2 #292e42;
@define-color bg3 #414868;
@define-color fg0 #565f89;
@define-color fg1 #9aa5ce;
@define-color fg2 #c0caf5;
@define-color accent1 #7dcfff;
@define-color accent2 #7aa2f7;
@define-color accent3 #2959aa;
@define-color accent4 #bb9af7;
@define-color accent5 #f7768e;
@define-color accent6 #8c4351;
@define-color accent7 #73dacb;
@define-color accent8 #e0af68;
@define-color spotify #9ece6a;
