@import 'colors-waybar.css';

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
}

#window {
  color: @foreground;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 0.8;
}

window#waybar.hidden {
  opacity: 0.1;
}

#custom-launcher,
#workspaces,
#custom-chatai,
#custom-spotify,
#clock,
#custom-weather,
#temperature,
#cpu,
#memory,
#custom-pacman,
#custom-theme,
#custom-wallpaper,
#network,
#pulseaudio,
#custom-power-menu {
  color: @foreground;
  background-color: @background;
  padding: 0 10 0 10px;
  margin: 4px 0 0;
  border-radius: 20px;
}

#custom-launcher {
  color: @color9;
  padding: 0 14 1 8;
  margin-left: 6px;
  margin-right: 8px;
  font-size: 18px;
}

#workspaces {
  margin-right: 8px;
}

#workspaces button {
  color: @color11;
  box-shadow: inset 0 -3px transparent;
  margin-right: 0em;
  transition: all 0.2s cubic-bezier(0.1, -0.1, 0.1, 1);
  padding: 1 3 0 0;
}

#workspaces button.active {
  color: @color9;
  margin-right: 0em;
  transition: all 0.2s cubic-bezier(0.1, -0.1, 0.1, 1);
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#custom-spotify {
  color: #1db954;
  font-size: 14px;
}

#clock {
  background-color: @background;
  color: @color9;
  padding: 0 5 0 14;
  border-radius: 20px;
  font-size: 14px;
}

#custom-weather {
  color: @color14;
  padding: 0 10 0 10;
  margin-right: 8px;
  border-radius: 20;
  font-size: 14px;
}

#temperature {
  color: @color11;
  border-radius: 20 0 0 20;
  font-size: 14px;
}

#temperature.critical {
  color: #ff6400;
  border-radius: 20 0 0 20;
  font-size: 14px;
}

#cpu {
  color: @color11;
  border-radius: 0;
  padding: 0 4 0 4;
  font-size: 14px;
}

#memory {
  color: @color11;
  margin-right: 8px;
  border-radius: 0 20 20 0;
  font-size: 14px;
}

@keyframes blink-update {
  to {
    color: @color9;
  }
}

#custom-pacman {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @color11;
  padding: 0 3 0 9;
  margin-right: 8px;
  font-size: 17px;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
  padding: 0 10 0 12;
  font-size: 14px;
}

#custom-theme {
  color: @color11;
  padding: 0 8 0 12;
  border-radius: 20 0 0 20;
  font-size: 15px;
}

#custom-wallpaper {
  color: @color11;
  border-radius: 0;
}

#network {
  color: @color11;
  border-radius: 0;
}

#network.disconnected {
  color: @color9;
}

#pulseaudio {
  color: @color11;
  padding: 0 14 0 8;
  border-radius: 0 20 20 0;
  font-size: 17px;
}

#pulseaudio.muted {
  color: @color9;
}

#custom-power-menu {
  color: #c34632;
  margin-right: 6px;
  margin-left: 8px;
  padding: 0 3 1 0;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

tooltip {
  background-color: @background;
  color: @foreground;
  opacity: 0.8;
  border-radius: 20px;
  font-family: JetBrainsMono Nerd Font;
}

tooltip label {
  padding: 8;
  color: @color11;
}

label:focus {
  background-color: @background;
}
