body.tokyo-night {
  --background: #11111b;
  --background-darker: #11111b;
  --background-secondary: #1a1b26;
  --background-lighter: #1a1b26;
  --accent: #7aa2f7;
  --accent-overlay: var(--accent);

  --navbar-background: var(--background);
  --body-background: var(--background-darker);
  --current-background: var(--body-background);
  --text-default: #c0caf5;
  --text-secondary: var(--text-default);
  --text-tertiary: var(--background);
  --navbar-accent: #9aa5ce;
  --navbar-active: var(--accent);
  --navbar-active-background: #292e42;
  --success: #9ece6a;
  --success-hover: #73daca;
  --input-background: #1a1b26;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --primary: #db4b4b;
  --primary-hover: #f7768e;
  --danger: #8c4351;
  --danger-hover: #db4b4b;
  --anticheat-denied: var(--danger);
  --anticheat-broken: #e0af68;
  --anticheat-running: var(--text-default);
  --anticheat-supported: #9ece6a;
  --anticheat-planned: #bb9af7;
  --text-title: var(--text-default);
  --icons-background: var(--background-lighter);
  --action-icon: var(--navbar-accent);
  --action-icon-hover: var(--text-default);
  --action-icon-active: var(--accent);
  --icon-disabled: #1a1b26;
  --cancel-button: #e0af68;
  --neutral-06: var(--text-default);
}
